:root{
    /* Color */
--white-color: #fff;
--black-color: rgba(0, 0, 0, 0.912); 
--blue-color: rgb(2, 49, 255);
--red-color: rgb(255, 2, 2);
--grey-dark-color: rgba(43, 42, 42, 0.738);
--grey--light-color: rgba(82, 80, 80, 0.973);

    /* Size */
--side--padding: 12px;
--avatar-size: 36px;
--padding: 16px;

    /* Font Size */
--font-large: 18px;
--font-medium: 14px;
--font-small: 12px;
--font-micro: 10px;

}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

ul{
    list-style:none;
}

li{
    list-style:none;
}

button,
button:focus {
    border: none;
    cursor: pointer;
    outline: none;
}

header{
    display: flex;
    justify-content: space-between;
    padding: var(--padding);
    background-color: var(--black-color);
    color: var(--white-color);
}

header .logo {
    font-size: var(--font-large);
}

header .logo i {
    color: var(--red-color);
}

header .icons .fa-search{
    margin-right: var(--side--padding);
}

/* Video Player */
.player{
    position: sticky;
    top: 0;
    text-align: center;
    background-color: var(--black-color)
}

.player video{
    width: 100%;
    height: 50%;
    max-width: 1000px;
    max-height: 500px;
}

/* Video Info */

body >.info {
    padding: var(--padding)
}

.info .metadata .hashtags{
    display: flex;
    font-size: var(--font-small);
    color: var(--blue-color);
}

.info .metadata .hashtags li{
    margin-right: var(--padding);
}

.info .metadata .titleAndButton{
    display: flex;
}

.info .metadata .titleAndButton .title {
    font-size: var(--font-medium);
    margin-right: var(--padding);
}

.info .metadata .titleAndButton .title.clamp{
overflow: hidden;
text-overflow: ellipsis;
display: -webkit-box;
-webkit-line-clamp: 2; /* 표시하고자 하는 라인 수 */
-webkit-box-orient: vertical;
}

.info .metadata .titleAndButton .moreBtn {
    height: 100%;
    transition: transform 300ms ease-in-out;
}

.info .metadata .titleAndButton .moreBtn.clicked {
    transform: rotate(180deg);
}

.info .views {
    font-size: var(--font-small);
    color: var(--grey--light-color);
}


.actions{
    display: flex;
    justify-content: space-around;
    margin: var(--padding) 0;

}

.actions button {
    display: flex;
    flex-direction: column;
    font-size: var(--font-small);
}

.actions button i {
    margin: 0 auto;
    margin-bottom: calc(var(--padding)/2);
    font-size: 16px;
}

.actions button i.active {
    color: var(--blue-color);
}

.info .channel {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid var(--grey--light-color);
    border-bottom: 1px solid var(--grey--light-color);
}
.info .channel .metadata {
    display: flex;
    align-items: center;
}
.info .channel .metadata .info {
   display: flex;
   flex-direction: column;
}
.info .channel .metadata img {
    width: var(--avatar-size);
    height: var(--avatar-size);
    border-radius:50%;
}

.info .channel .metadata .info .name{
    font-size: var(--font-medium);
}

.info .channel .metadata .info .subscribers{
    font-size: var(--font-small);
    color: var(--grey--dark-color)
}

.info .channel .subscribe {
    text-transform: uppercase;
    color: var(--red-color);
    font-size: var(--font-medium);
}

/* Upnext */
.UpNext {
    padding: 0 var(--padding);
}

.UpNext > .title{
    font-size: var(--font-large);
    color: var(--grey--dark-color);
    margin-bottom: cacl(var(--padding)/2);
}

.UpNext .item{
    display: flex;
}

.UpNext .item .img img{
    width:100%;
}

.UpNext .item .img{
    flex: 1 1 35%;
    margin-right: var(--padding);
}

.UpNext .item .info{
    flex: 1 1 60%;
    
}

.UpNext .item .moreBtn{
    flex: 1 1 5%;
    height: 100%;
}

.UpNext .item .info{
    display: flex;
    flex-direction: column;
}

.UpNext .item .info .title{
font-size: var(--font-small);
}

.UpNext .item .info .name,
.UpNext .item .info .views {
    font-size: var(--font-micro);
    color: var(--grey--dark-color)
}

.infoAndUpNext {
    display: flex;
    flex-direction: column;
}

@media screen and (min-width: 900px) {
.infoAndUpNext{
    flex-direction: row;
    margin: var(--padding) 0;
}
}