.color-primary{
    color:rgb(55, 0, 255);
}

.font-50 {
    font-size: 50px;
}
.select-style1{
    height:40px;
    font-size: 20px;
    color: blue;
}

.tb-head>tr>td{
    border: 1px solid #000;
    font-size: 14px;
    font-weight: bold;
    color: red;
}

.tb-head>tr>td{
    border: 1px solid #000;
}

p{
    background:yellowgreen;
    color: darkgreen;
}